<div class="post card">
    <h2 class="card-header">Edit Post</h2>
    <form class="card-body" id="edit-post-form">
        <div>
            <label class="form-label">Title</label>
            <input type="text" class="form-input" name="post-title" value="{{post.title}}"/>
        </div>
        <div>
            <label class="form-label">Body</label>
            <textarea type="text" class="form-textarea form-input" name="post-body"> {{post.post_body}}</textarea>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Edit</button>
            <input type="hidden" name="post-id" value="{{post.id}}"/>
        </div>
    </form>
    <div class="card-body">
        <button class="btn btn-primary" type="click" id="delete-btn">Delete</button>
    </div>
</div>

<script src="/js/edit.js"></script>