<div class="card">
  <h2 class="card-header">Login</h2>
  <form id="login-form" class="card-body">

    <div class="form-group">
      <label class="form-label">Username:</label>
      <input type="text" class="form-input", id="username-input-login" />
    </div>

    <div class="form-group">
      <label class="form-label">Password:</label>
      <input type="password" class="form-input", id="password-input-login" />
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">login</button>
    </div>
  </form>
  
</div>

<script src="/js/login.js"></script>