<div class="post card">
  <h2 class="card-header">Sign Up</h2>
  <form class="card-body signup-form">
  <div class="form-group">
    <label class="form-label">Username</label>
    <input type="text" name="form-input" id="username-input-signup"/>
  </div>

  <div class="form-group">
    <label class="form-label">Password</label>
    <input type="password" name="form-input" id="password-input-signup"/>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </div>

  </form>

</div>

<script src="/js/signup.js"></script>